* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

/* Header */

header,
footer {
  background-color: #1f2937;
}

header,
footer {
  padding: 0 15%;
}

header {
  height: 100vh;
  padding-top: 20px;
}

nav {
  display: flex;
  justify-content: space-between;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: 600;
}

.links-list {
  display: flex;
  gap: 10px;
}

.links a {
  font-size: 18px;
  color: #e5e7eb;
}

.header-content {
  display: flex;
  margin-top: 15vh;
  gap: 10%;
}

.header-content-left,
.header-content-right {
  width: 50%;
  height: 300px;
}

.main-heading {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
}

.header-subtext {
  font-size: 18px;
  color: #e5e7eb;
}

.sign-up-btn {
  background-color: #3882f6;
  color: #f9faf8;
  border: none;
  width: 150px;
  height: 45px;
  font-weight: 600;
  margin-top: 20px;
  border-radius: 5px;
}

.hero-image {
  width: 500px;
}

/* Footer */

footer {
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.copyright {
  color: #e5e7eb;
  font-size: 18px;
}

/* Main */

.content-cards,
.content-quote,
.content-call-to-action {
  height: 70vh;
  padding: 0 15%;
}

.content-cards {
  text-align: center;
}

.cards-heading {
  margin-top: 5%;
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
}

.cards-container {
  margin-top: 5%;
  display: flex;
  justify-content: space-around;
}

.card {
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.illustration {
  width: 150px;
  height: 150px;
  border: 4px solid #3882f6;
  border-radius: 10px;
}

.card-subtext {
  margin-top: 10px;
  color: #1f2937;
}

.content-quote {
  background-color: #e5e7eb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #1f2937;
  padding: 20%;
}

.quote {
  font-size: 36px;
  font-style: italic;
}

.author {
  margin-top: 10px;
  align-self: flex-end;
  font-size: 24px;
  font-weight: 700;
}

.content-call-to-action {
  height: 50vh;
  display: flex;
  align-items: center;
}

.call-to-action {
  background-color: #3882f6;
  height: 150px;
  width: 100%;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
  color: #f9faf8;
}

.cta-btn {
  color: #f9faf8;
  font-weight: 600;
  background-color: #3882f6;
  border: 3px solid #f9faf8;
  border-radius: 5px;
  width: 100px;
  height: 30px;
}
